.solutionheroback {
  position: relative;
  background-image: url(../../../assets/Solution11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  width: 100%;
  height: 100vh;
}

.solutionheroback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/Solution11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.solutionheroback::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.solutionheroback > * {
  position: absolute;
  z-index: 3;
}

.solutionMain{
  padding: 0px 180px;
  margin: 0px;
  text-align: start;
}

.solutionMain h1 {
  padding: 0px;
  margin: 0px;
  color: #d63333;
  font-size: 50px;
}


.solutionMain p{
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: larger;
}

@media (max-width: 768px) {
  .solutionheroback {
    padding: 0;
    height: auto; 
    min-height: 70vh; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    
  }

  .solutionMain {
    padding: 0px;
    text-align: center;
    width: 95%; 
    max-width: none; 
  }

  .solutionMain h1 {
    font-size: 1.5rem;
  }

  .solutionMain p {
    font-size: 0.9rem;
  }
}