.servicebackgmain0 {
  position: relative;
  background-image: url(../../../assets/Services222.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  width: 100%;
  height: 100vh;
}

.servicebackgmain0::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/Services222.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.servicebackgmain0::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.servicebackgmain0 > * {
  position: absolute;
  z-index: 3;
}

.servicebackgmain0 {
  margin: 0px;
  text-align: start;
}

.Servivcesmain44{
  padding: 0px 180px;
  width: 50%;
}


.Servivcesmain44 h1{
  padding: 0px;
  margin: 0px;
  color: #2cd36f;
  font-size: 30px;
}

.Servivcesmain44 p{
 color: white;
}

.Servivcesmain44 h2{
  padding: 0px;
  margin: 0px;
  color: #33d643;
}



@media (max-width: 768px) {
  .servicebackgmain0 {
    height: auto; 
    min-height: 70vh;
    flex-direction: column; 
    justify-content: center; 
    padding: 2rem 0;
  }

  .Servivcesmain44 {
    padding: 0px;
    width: 95%; 
    max-width: none; 
    text-align: center; 
  }

  .Servivcesmain44 h1 {
    font-size: 1.5rem;
  }

  .Servivcesmain44 p {
    font-size: 0.9rem;
  }

  .Servivcesmain44 h2 {
    font-size: 1.2rem;
  }
}