.coreValuesSection {
  background-color: #f3f5ff;
  padding: 60px 180px 40px; /* Increased top padding from 0 to 60px */
  text-align: center;
  color: #333;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.description {
  max-width: 1000px;
  margin: 0 auto 40px;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

.valuesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.valueBox {
  flex: 1 1 300px;
  max-width: 350px;
  padding: 25px;
  text-align: left;
  border-radius: 12px;
  
  /* Animation base */
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.valueBox.visible {
  opacity: 1;
  transform: translateY(0);
}

.number {
  font-size: 4rem;
  font-weight: bold;
  color: #c2c3d1;
  margin-bottom: 10px;
}

.valueBox h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.valueBox p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* Responsive Padding */
@media screen and (max-width: 768px) {
  .coreValuesSection {
    padding: 40px 40px; /* Adjusted for mobile */
  }
}