@keyframes changeBackground {
  0% {
    background-image: url("../../../assets/newedgeSlider.jpg");
  }
  50% {
    background-image: url("../../../assets/Webdevelopment.jpg");
  }
  100% {
    background-image: url("../../../assets/aboutus.png");
  }
}

.herosection {
  animation: changeBackground 10s infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.heroword {
  padding: 50px;
  text-align: right;
  flex: 1;
}

.heroword h2,
.heroword h1,
.heroword h5 {
  color: white;
  margin: 10px 0;
  text-align: left;
  line-height: 1.3;
}

.heroimage22 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  height: auto;
  border-radius: 10px;
}



.heroimage22 img {
  width: 200px;
}




.care {
  color: aqua;
}

.transformative {
  color: #d63333;
}

@media screen and (max-width: 768px) {
  .herosection {
    height: 70vh;
    flex-direction: column;
    text-align: center;
    padding: 150px 20px;
  }

  .heroword {
    padding: 20px;
    text-align: center;
  }

  .heroword h2,
  .heroword h1,
  .heroword h5 {
    text-align: center;
  }

  .heroimage22 img {
    display: none;
  }
}

.arrowLeft, .arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 100;
}

.arrowLeft {
  left: 20px;
}

.arrowRight {
  right: 20px;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
